{% extends 'base.html' %}
{% load static comments crispy_forms_tags thumbnail %}

{% block content %}

    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">相片首页</a></li>
            <li class="breadcrumb-item"><a href="#">《{{ photo.title }}》详情</a></li>
        </ol>
        </nav>
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h2 class="text-center">{{ photo.title|title }}</h2>
                <!-- Author -->
                <p class="text-left">
                    <a href="{% url 'users:detail' photo.author.username %}">{{ photo.author.get_profile_name }}</a>
                    发表于{{ photo.create_time }}
                </p>
                <hr>
                <!-- 相片 -->
                {% thumbnail photo.image "800x600" as im %}
                    <img src="{{ im.url }}" alt="相片" class="card-img-top">
                {% empty %}
                    <img class="img-fluid rounded" src="http://placehold.it/1920x1080" alt="Card Image">
                {% endthumbnail %}
                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">评论</h5>
                    <div class="card-body">
                        {% if user.is_authenticated %}
                            {% get_comment_form for photo as form %}
                            <form action="{% comment_form_target %}" method="POST">
                                {% csrf_token %}
                                <div id="id_comment" class="form-group">
                                    <textarea name="comment" rows="5" maxlength="400" class="textarea form-control"></textarea>
                                </div>
                                {{ form.content_type }}
                                {{ form.object_pk }}
                                {{ form.timestamp }}
                                {{ form.security_hash }}
                                <input type="hidden" name="next" value="{% url 'photos:detail' photo.id %}"/>
                                <input class="btn btn-info" type="submit" value="提交" id="id_submit"/>
                            </form>
                        {% endif %}
                    </div>
                </div>

                <!-- Single Comment -->
                {% get_comment_list for photo as comment_list %}
                {% for comment in comment_list %}
                    <div class="media mb-4">
                        {% thumbnail comment.user.picture "x50" as im %}
                            <img class="d-flex mr-3 rounded-circle" src="{{ im.url }}" alt="用户头像" id="pic"/>
                        {% empty %}
                            <img class="d-flex mr-3 rounded-circle" src="{% static 'img/user.png' %}" height="50px" alt="没有头像"/>
                        {% endthumbnail %}
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.user.get_profile_name }}</h5>
                            {{ comment }}
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock content %}
