.stream-update {
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    display: none;
}

.stream-update a {
    display: block;
    padding: .6em 0;
    background-color: #f5f8fa;
}

.stream-update a:hover {
    text-decoration: none;
    background-color: #e1e8ed;
}
