{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
     <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div id="books" class="row">
        <div v-html="message"></div>
        {% for gift in gift_list %}
            <div class="col-md-4 book-container">
                <a href="{% url 'books:book_detail' isbn=gift.isbn %}" class="">
                    <div class="col-md-4 no-padding">
                        <img class="book-img cssshadow" src="{{ gift.book.image }}">
                    </div>
                    <div style="margin-left: 0;" class="col-md-8 flex-vertical book-info">
                        <span class="title">{{ gift.book.title }}</span>
                        <div class="description-font"><span>作者：</span><span>{{ gift.book.author }}</span>
                        </div>
                        <span class="summary description-font">{{ gift.book.summary }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
        {{ block.super }}
    <script>
new Vue({
  el: '#books',
  data: {
    message: '<h1>菜鸟教程</h1>'
  }
})
</script>
{% endblock %}
