{% extends "base.html" %}
{% block head %}
    {{ super() }}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div id="books" class="row">

            <div class="col-md-4 book-container">
                <a href="" class="">
                    <div class="col-md-4 no-padding">
                        <meta name="referrer" content="never">
                        <img class="book-img cssshadow" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2562546799.jpg">
                    </div>
                    <div style="margin-left: 0;" class="col-md-8 flex-vertical book-info">
                        <span class="title">大电影</span>
                        <div class="description-font"><span>作者：</span><span>杨鹏</span>
                        </div>
                        <span class="summary description-font">这部电影讲述了一个奇怪的故事</span>
                    </div>
                </a>
            </div>
    </div>
{% endblock %}