
<link rel="stylesheet" href="{% static 'css/index.css' %}">

    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div id="books" class="row">
        <div v-html="message"></div>
            <div class="col-md-4 book-container">
                <a href="#" class="">
                    <div class="col-md-4 no-padding">
                        <img class="book-img cssshadow" src="{{ gift.book.image }}">
                    </div>

                </a>
            </div>
            </div>

    </div>


